<!DOCTYPE html>
<!-- <html>
  <head>
    <title>Stack</title>
    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: 'all' %>
    <%#= javascript_include_tag 'application' %>
  </head>

  <body>
    <%#= yield %>
  </body>
</html>
 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <%= yield %>
</body>
</html>
